.hero {
    padding-block: 52px 85px;
    background-image: url(../../img/hero_bg\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
    margin-bottom: 56px;
}

.hero__item {
    padding: 16px 22px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.50);
    transition: all .3s ease;

    &:hover {
        background-color: #fff;
    }

    &:hover .hero__link {
        color: #000;
    }
}

.hero__link {
    color: #FFF;
    font-weight: 400;
    line-height: 20px;
}

.hero__title {
    color: #fff;
    max-width: 412px;
    text-align: center;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 16px;
}

.hero__text {
    color: #FFF;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 42px;
    max-width: 610.309px;
}

.hero__form {
    max-width: 600px;
    margin: 0 auto;
    height: 58px;
    border-radius: 50px;
    background: #F3F3F4;
    padding: 20px 48px 21px 56px;
    margin-bottom: 47px;
}

.hero__input {
    background-color: transparent;
    border: none;
    outline: none;

    &::placeholder {
        color: #9E9EA7;
        font-size: 14px;
        font-weight: 400;
    }

    &:before {
        content: "";
        width: 16px;
        height: 16px;
        display: inline-block;
        background-image: url(../../img/search1.svg);
    }
}
.hero__bottom_list {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}
.hero__bottom_item {
    margin-bottom: 12px;
}
.hero__bottom_title {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.hero__bottom_link {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 5px 16px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.60);
}